.idea/
*.iws
*.out
*.jsmaps

bin/
obj/
[Dd]ebug/
[Rr]elease/

*.user
*.suo
*.sln.dotSettings.user
*.userprefs

*.log
*.sql.gz
*.bak

node_modules/
npm-debug.log*
.DS_Store

Thumbs.db
desktop.ini

*.db
*.db-shm
*.db-wal

.idea/
*.sln.DotSettings.user

appsettings.Development.json
appsettings.Local.json